html, body, .app, main, #app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, #092038, #0b3e5f);
  background-size: cover;
  box-sizing: border-box;
  margin: 0;
}

header{
  width: 100%;
}

.container{
  display: flex;
  padding: 3% 0 50px 100px;
  box-sizing: border-box;
}

.portfolios{
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px;
}

.portfolios div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolios img{
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 2px 2px 1px #00000060;
  cursor: pointer;
  object-fit: cover;
}

.portfolios img:hover{
  box-shadow: 0px 2px 2px 1px #000000;
}

.person{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  figure{
    margin: 0;
    img{
      width: 300px;
    }
  }
}



.intro{
  display: flex;
  flex-direction: column;
  width: 100%;
  .name{
    display: flex;
    align-items: center;
    h1{
      color: #47c7c7;
    }
    i{
      font-size: 32px;
      margin-right: 20px;
      color: white;
    }
  }
  .contact{
    display: flex;
    a{
      margin-right: 20px;
      font-weight: bolder;
      font-size: 18px;
      color: #47c7c7;
      background-color: #000000;
      padding: 10px;
    }
    a:hover{
      color: #134647;
    }
  }
  p{
    color: white;
    font-size: 16px;
    line-height: 1.4rem;
    text-align: justify;
  }
}

.knowledges {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 80px;
  box-sizing: border-box;
  .title{
    display: flex;
    align-self: end;
    h1{
      color: #47c7c7;
    }
    i{
      font-size: 32px;
      margin-left: 20px;
      color: white;
    }
  }
  ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-inline: 0;
    li{
      background-color: #47c7c730;
      display: flex;
      padding: 10px;
      list-style: none;
      font-size: 14px;
      margin: 5px;
      b{
        color: #47c7c7;
      }
      p{
        margin-left: 10px;
        margin-block: 0;
        color: white;
      }
    }
  }
}

h1, h2, h3{
  text-align: left;
  /* color: #000706; */
}
h1{
  margin-block: 0;
}
.semesters{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.semesters-box{
  padding: 5px;
  font-weight: 600;
  color: #fafdea;
  background-color: #0c7e7e;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #134647;
  flex: 1 1 calc(16% - 20px);
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  font-size: 14px;;
  margin-right: 10px;
}

a{
  text-decoration: none;
}

.semesters-box:hover{
  background-color: #134647;
  box-shadow: 2px 2px 2px 2px #0c7e7e;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  .title{
    h2, h3{
      color: #47c7c7;
    }
    a{
      color: white;
      text-decoration: underline;
    }
    a:hover {
      color: #47c7c7;
    }
  }
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  width: 800px;
}

.section ul{
  padding-inline-start: 20px;
}

.section h3{
  margin-block-end: 0;
}

.container-apis{
  margin-top: 30px;
  ul{
    display: flex;
    list-style: none;
    padding-inline: 0;
    li{
      width: 150px;
      height: 300px;
      margin: 10px;
      background-color: #47c7c730;
      padding: 10px;
      font-weight: bolder;
      color: #47c7c7;
      img{
        width: 100%;
        height: 130px;
        background-color: #47c7c750;
      }
      p{
        color: white;
        font-size: 12px;
        font-weight: 400;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 7; /* Limita a quantidade de linhas, aqui 3 */
        -webkit-box-orient: vertical;
      }
      span{
        display: flex;
        width: 100%;
        justify-content: end;
        font-size: 12px;
        font-weight: 400;
      }
    }
    li:hover{
      background-color: #47c7c750;
      span{
        font-weight: 600;
      }
    }
  }
}

.container-contact{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
  .contact{
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    i{
      color: #47c7c7;
      font-size: 32px;
      margin-right: 15px;
    }
    a{
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }
    a:hover{
      color: #47c7c7;
    }
  }
}

@media screen and (max-width: 768px) {
  html, body, .app, main{
    display: block;
    height: auto;
    margin: 0;
    padding: 6px;
    box-sizing: border-box;
  }
  .container{
    flex-direction: column;
    padding: 0;
  }

  figure{
    display: flex;
    justify-content: center;
    margin-block: 0;
    margin-inline: 0;
  }
  .person figure img{
    width: 90%;
  }

  .semesters-box{
    margin: 0;
  }

  .section, .box{
    width: 100%;
  }

  .title img{
    width: 100%;
  }
}