html, body, .app, main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #fafdea;
  box-sizing: border-box;
  margin: 0;
}

.container{
  display: flex;
  padding: 3% 100px;
  box-sizing: border-box;
}

.portfolios{
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px;
}

.portfolios div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolios img{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 2px 2px 1px #00000060;
  cursor: pointer;
}

.portfolios img:hover{
  box-shadow: 0px 2px 2px 1px #000000;
}

.knowledges{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.person{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.person img{
  width: 300px;
}

.person h2{
  margin-block: 0;
  margin-inline: 0;
}

.intro{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.knowledges li{
  padding: 5px 0;
  list-style: none;
}

.intro .contact a{
  margin-right: 20px;
  font-weight: bolder;
  font-size: 18px;
  color: #0c7e7e;
}

.intro .contact a:hover{
  color: #134647;
}

h1, h2, h3{
  text-align: left;
  color: #00272d;
  /* color: #000706; */
}
h1{
  margin-block: 0;
}
.semesters{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.semesters-box{
  padding: 5px;
  font-weight: 600;
  color: #fafdea;
  background-color: #0c7e7e;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #134647;
  flex: 1 1 calc(16% - 20px);
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  font-size: 14px;;
  margin-right: 10px;
}

a{
  text-decoration: none;
}

.semesters-box:hover{
  background-color: #134647;
  box-shadow: 2px 2px 2px 2px #0c7e7e;
}

p{
  font-size: 18px;
  color: #134647;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 800px;
}

.section ul{
  padding-inline-start: 20px;
}

.section h3{
  margin-block-end: 0;
}

@media screen and (max-width: 768px) {
  html, body, .app, main{
    display: block;
    height: auto;
    margin: 0;
    padding: 6px;
    box-sizing: border-box;
  }
  .container{
    flex-direction: column;
    padding: 0;
  }

  figure{
    display: flex;
    justify-content: center;
    margin-block: 0;
    margin-inline: 0;
  }
  .person figure img{
    width: 90%;
  }

  .semesters-box{
    margin: 0;
  }

  .section, .box{
    width: 100%;
  }

  .title img{
    width: 100%;
  }
}