html, body, .app, main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0 0 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fafdea;
}

.container{
  display: flex;
  padding: 0 7%;
  margin-top: 4%;
}
.person{
  display: flex;
  align-items: center;
}
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1, h2, h3{
  text-align: left;
  color: #00272d;
  /* color: #000706; */
}
h1{
  margin-block: 0;
}
.semesters{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.semesters-box{
  padding: 5px;
  font-weight: 600;
  color: #fafdea;
  background-color: #0c7e7e;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #134647;
  flex: 1 1 calc(16% - 20px);
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  font-size: 14px;;
  margin-right: 10px;
}

a{
  text-decoration: none;
}

.semesters-box:hover{
  background-color: #134647;
  box-shadow: 2px 2px 2px 2px #0c7e7e;
}

p{
  font-size: 18px;
  color: #134647;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.section{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  width: 800px;
}

.section ul{
  padding-inline-start: 20px;
}

.section h3{
  margin-block-end: 0;
}